.teal {
  background-color: #44BBA4;
}

.greentea {
  background-color: #D1EFB5;
}

.greentea-text {
  color: #D1EFB5;
}

.greenslate {
  background-color: #395B50;
}

.greenslate-text {
  color: #395B50;
}

.greenwinter {
  background-color: #5A7684;
}

.mustard {
  background-color: #E7BB41;
}

.steel {
  background-color: #393E41;
}

.lightgray {
  background-color: #D3D0CB;
}

.lightgray-text {
  color: #D3D0CB;
}

.platinum {
  background-color: #E7E5DF;
}

.platinum-text {
  color: #E7E5DF;
}

.darkskyblue {
  background-color: #92AFD7;
}

.darkblue {
  background-color: #034078;
}

.violetjapanese {
  background-color: #4D2D52;
}

.tierionpink {
  background-color: #EC5281;
}

.tierion-skyblue {
  background-color: #81d4fa;
}

.tierion-skyblue-text {
  color: #81d4fa;
}

.tierion-tealblue-text {
  color: #B3E4FC;
}

.tierion-darkblue {
  background-color: #1a237e;
}

.tierion-darkblue-text {
  color: #1a237e;
}

.tierion-purple {
  background-color: #45339D;
}

.tierion-purple-text {
  color: #45339D;
}

.tierionorange {
  background-color: #ED6237;
}

.firebrick {
  background-color: #BF211E;
}

.firebrick-text {
  color: #BF211E;
}

.white-text {
  color: white;
}