.teal {
  background-color: #44bba4;
}

.greentea {
  background-color: #d1efb5;
}

.greentea-text {
  color: #d1efb5;
}

.greenslate {
  background-color: #395b50;
}

.greenslate-text {
  color: #395b50;
}

.greenwinter {
  background-color: #5a7684;
}

.green {
  background-color: #388e3c;
}

.green-text {
  color: #388e3c;
  -webkit-text-fill-color: #388e3c;
}

.green-text-important {
  color: #388e3c !important;
  -webkit-text-fill-color: #388e3c !important;
}

.mustard {
  background-color: #e7bb41;
}

.steel {
  background-color: #393e41;
}

.lightgray {
  background-color: #d3d0cb;
}

.lightgray-text {
  color: #d3d0cb;
}

.platinum {
  background-color: #e7e5df;
}

.platinum-text {
  color: #e7e5df;
}

.darkgray {
  background-color: #90a4ae;
}

.darkgray-text {
  color: #90a4ae;
}

.darkskyblue {
  background-color: #92afd7;
}

.darkblue {
  background-color: #034078;
}

.violetjapanese {
  background-color: #4d2d52;
}

.lightpurple {
  background-color: #8f78c7;
}

.lightpurple-text {
  color: #8f78c7;
}

.tierionpink {
  background-color: #ec5281;
}

.tierion-skyblue {
  background-color: #81d4fa;
}

.tierion-skyblue-text {
  color: #81d4fa;
}

.tierion-tealblue-text {
  color: #b3e4fc;
}

.tierion-darkblue {
  background-color: #1a237e;
}

.tierion-darkblue-text {
  color: #1a237e;
}

.tierion-purple {
  background-color: #45339d;
}

.tierion-purple-text {
  color: #45339d;
}

.tierionorange {
  background-color: #ed6237;
}

.firebrick {
  background-color: #bf211e;
}

.firebrick-text {
  color: #bf211e;
}

.red {
  background-color: #a94442;
}

.red-text {
  color: #a94442;
  -webkit-text-fill-color: #a94442;
}

.red-text-important {
  color: #a94442 !important;
  -webkit-text-fill-color: #a94442 !important;
}

.white-text {
  color: white;
}
